streamlit
torch
transformers
sentence-transformers
huggingface-hub
spacy
pdfplumber
docx2txt
google-api-python-client
numpy
matplotlib
torchvision
torchaudio
python-dotenv
requests
pandas
nltk
scikit-learn
beautifulsoup4
unidecode
spacy[en_core_web_md]
spacy-lookups-data
