streamlit
transformers
sentence-transformers
huggingface-hub
spacy
pdfplumber
docx2txt
google-api-python-client
numpy<2.0.0  # Downgrade NumPy to a version below 2.0
torch==2.0.0  # Use a compatible version of torch
torchvision==0.15.0  # Use a compatible version of torchvision
torchaudio==2.0.0  # Use a compatible version of torchaudio
matplotlib
python-dotenv
requests
pandas
nltk
scikit-learn
beautifulsoup4
unidecode
spacy-lookups-data
thinc==8.1.10
# Install Spacy model manually if needed:
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz
